body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    flex-direction: column;
    background-color: lightblue;
    margin: auto;
    margin-top: 10%;
}

.modal-button{
  background-color: black;
  color: white;
  border: 1px solid black;
  font-size: 18px;
  border-radius: 55px;
  margin-top: 5%;
}

.row {
  display: flex;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Initial state */
  transition: 100ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.error-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 100ms ease-in-out;
  border: 1px solid red;
  border-radius: 10px;
  z-index: 10;
  background-color: red;
  width: 500px;
  max-width: 80%;
}

.submit{
  background-color: green;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 20px;
  margin: auto;
}

.reset{
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 20px;
  margin: auto;
}

.error-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;}

.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  }

.error-modal.active {
  transform: translate(-50%, -50%) scale(1); /* Active state */
}
.modal.active {
  transform: translate(-50%, -50%) scale(1); /* Active state */
}

.error-header .title{
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.error-body{
  color: white;
}

.modal-header .title{
  font-size: 1.25rem;
  font-weight: bold;
  }
  
  #wordle{
    font-size: 36px;
    color: white;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1.5px;
  }
  
  #input{
    font-size: 18px;
  }

  .guess{
    color: white;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1.5px;
  }
  
.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
font-weight: bold;
}


#overlay {
  position: fixed;
  opacity: 0; /* Initial state */
  transition: 100ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#word-reveal{
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#word-reveal.active{
  opacity: 1;
  color: black;
  font-style: bold;
}

#overlay.active {
  opacity: 0.5; /* Active state */
  pointer-events: all;
}


.board {
  display: flex;
  flex-wrap: wrap;
  width:300px;
  color:white;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  }
  
  .sqr {
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms ease;
  }

  .user-input{
    margin-top: 25px;
  }

  .guess{
    margin: 0;
  }