body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
}

.sqr{
  transition: 100ms ease; /*Come back to this*/
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Initial state */
  transition: 100ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  }

.modal.active {
  transform: translate(-50%, -50%) scale(1); /* Active state */
}

.modal-header .title{
  font-size: 1.25rem;
  font-weight: bold;
  }
  
  
  
  .modal-header .close-button{
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   font-size: 1.25rem;
  font-weight: bold;
  }

#overlay {
  position: fixed;
  opacity: 0; /* Initial state */
  transition: 100ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 0.5; /* Active state */
  pointer-events: all;
}


.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 350px;
    margin-top: 20px;
    color: white;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
  }
  
  .sqr {
    width: 100%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms ease;
    box-sizing: border-box;
  }

  .user-input{
    margin-top: 25px;
  }

  .guess{
    margin: 0;
  }